/*===  GENERAL   ===*/
#all-container{
	position: relative;
	padding: 0;
	overflow: hidden;
    height: 100%; /* Or whatever you want (eg. 400px) */
}

/*===  MENU  ===*/
.navbar-default {
  background-color: #0288d1;
  border-style: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
.navbar-default .navbar-header .navbar-brand {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}
.navbar-default .navbar-header .navbar-toggle {
  border-style: none;
}
.navbar-default .navbar-header .navbar-toggle .icon-bar {
  background-color: white;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
.navbar-default .navbar-header .navbar-toggle:focus, .navbar-default .navbar-header .navbar-toggle:hover {
  background-color: transparent;
}
.navbar-default .navbar-header .navbar-toggle:focus .icon-bar, .navbar-default .navbar-header .navbar-toggle:hover .icon-bar {
  background-color: #0288d1;
}
.navbar-default .navbar-collapse {
  border-style: none;
}
.navbar-default .nav > li > a {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}
.navbar-default .nav > li > a:focus, .navbar-default .nav > li > a:hover {
  color: #DCE4E9;
}
li > #dropdown-main{
	border-radius: 5px;
	border: 2px solid #fff;
	padding-bottom: 10px;
	-webkit-transition: all .8s;
	-moz-transition: all .8s;
	transition: all .8s;
}
li > #dropdown-main:hover, 
li > #dropdown-main:focus{
	background-color: #fff;
	color: #000;
}
.navbar-default .nav > li.active > a, .navbar-default .nav > li.active > a:focus, .navbar-default .nav > li.active > a:hover {
  background-color: transparent;
  color: #DCE4E9;
}
@media (min-width: 768px) and (min-height: 590px) {
  .navbar-default {
    background-color: transparent;
    padding: 18px 0;
  }
  .navbar-default .navbar-header .navbar-brand {
    font-size: 22px;
    padding: 14px 15px 16px;
  }
  .navbar-default.affix {
    background-color: #0288d1;
    padding: 0;
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    font-size: 18px;
    padding: 15px 15px;
  }
  
}
@media screen and (max-width:800px ) {
	/*li > #dropdown-main{
		border-radius: 5px;
		border: 2px solid #fff;
		padding-bottom: 10px;
	}*/
	.menu-btn {
	  display: block;
	  float: right;
	  margin: 1em;
	  width: 36px;
	}
	.menu-btn:before,
	.menu-btn:after {
	  background-color: #fff;
	  content: '';
	  display: block;
	  height: 4px;
	  transition: all 200ms ease-in-out;
	}
	.menu-btn:before {
	  box-shadow: 0 10px 0 #fff;
	  margin-bottom: 16px;
	}
	.menu-btn:focus:before {
	  box-shadow: 0 0 0 #fff;
	  transform: translateY(10px) rotate(45deg);
	}
	.menu-btn:focus:after{
	  transform: translateY(-10px) rotate(-45deg);
	}
}
/*nav{
	background-color: #0288d1;
}
li > a{
	color:#fff;
}
li > #dropdown-main{
	border-radius: 5px;
	border: 2px solid #fff;
	padding-bottom: 10px;
}*/
.logo {
	width: 100px;
	float: left;
	height: 100px;
	margin-top: -20px;
	/*background-image: url("../images/logo.png");*/
}


/* ------------------------------

   Intro 
 
--------------------------------- */
header{
	padding: 0px;
}
.content-wrap{
	padding: 0px;
}

@media (min-width: 768px) and (min-height: 590px) {
	
}
@media screen and (max-width:800px ) {
	header{
		margin-top: 50px;
	}
	#banner{
		padding-top: 2px;
	}
}

/* === CONTENT === */
#content{
	padding-bottom: 30px;
	margin-top: 50px;
}
.registers{
	background-color: #0288d1;
	border: 2px solid #0288d1;
	padding-top: 15px;
	padding-bottom: 5px;
	border-radius: 5px;
	-webkit-transition: all .5s;
	-moz-transition:all .5s;
	transition: all .5s;
}
.registers:hover{
	background-color: #fff;
	border: 2px solid #0288d1;
	border-radius: 5px;
	cursor:pointer;
}
.hov:hover .content-title{
	color: #0288d1;
}

.hov:hover .fa-reg{
	color: #0288d1;
	border-color: #0288d1;
}

.content-title{
	color: #fff;
	font-size: 24px;
	font-size: 2rem;
}
.fa-reg{
	color: #FFFFFF;
	padding: 15px 15px 15px 15px;
	border: 2px solid #fff;
	border-radius: 100%;
}

@media screen and (max-width:800px ) {
	.registers{
		margin-bottom: 20px;
	}
}

/* === FOOTER === */
footer{
	padding: 20px;
	background: #22313F;
	color: #fff;
}

footer a{
	color: #0288d1;
}

footer a:hover{
	color:#90A0E7;
}

/*  === LOADER == */
#loader{
	background:#fff;
	bottom:0;
	left:0;
	position:fixed;
	right:0;
	top:0;
	z-index:50000
}
#loader i{
	color:#0288d1;
	left:50%;
	margin:-24px 0 0 -24px;
	position:absolute;
	top:50%
} 
#loader span{
	left:49%;
	margin: 35px 0 0 -24px;
	position:absolute;
	top:50%;
	font-size: 16px, font-size: 1.6rem;
	text-transform: uppercase;
	 /*font-style: oblique;*/
}

/* === SCROLLBAR === */
/*::-webkit-scrollbar-thumb{
	background:#0288d1;
	cursor:pointer;
	border:1px solid rgba(255,255,255,0.4);
	border-radius:10px;
	background-color:rgba(163,217,0,0.82);
	background-clip:padding-box
}
::-webkit-scrollbar-thumb:hover{
	cursor:pointer
}
*/

::-webkit-scrollbar{
    width: 8px;
    background: rgba(221,221,221,0.2);
}
 
::-webkit-scrollbar-thumb {
    background: #444;
    cursor: pointer;
    border-radius: 5px;
}
 
::-webkit-scrollbar-thumb:hover {
    background: rgba(2,136,209,0.8);
    cursor: pointer;
}